.homeContainer {
    width: 100%;
    height: 100vh;
}

.homeContainer h1 {
    display: inline-block;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 3.5rem;
    line-height: 60px;
    margin: 15% 0 0 4rem;
}

.homeContainer h1 strong {
    color: #89023E;
}