nav.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 5.25rem;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
}

nav.navbar a img.logo {
    vertical-align: top;
    margin: 2rem 2rem 1rem 2rem;
    width: 19rem;
    cursor: pointer;
}

nav.navbar ul {
    display: inline-flex;
    margin: 0 auto;
    font-family: Roboto Mono, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

nav.navbar ul li {
    display: inline-block;
    margin: 1.25rem;
    cursor: pointer;
}

.scrollDownIndicator {
    position: fixed;
    bottom: 1rem;
    right: 50vw;
}

.scrollDownIndicator span {
    vertical-align: top;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1rem;
    margin: 0 1rem;
}

nav.navbar ul li.crossed {
    color: #555;
    text-decoration: line-through;
    cursor: not-allowed;
}

@media(max-width: 1056px) {
    .scrollDownIndicator {
        display: none;
    }
}

@media(max-width: 450px) {
    nav.navbar img.logo {
        width: 16rem;
    }
}